@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/public/fonts/Proxima-Nova-Font.otf') format('otf');
}
@font-face {
  font-family: 'Bebas Regular';
  src: url('/public/fonts/BebasNeue-Regular.ttf') format('ttf');
}

html{
  @apply scroll-smooth font-proxima-nova;
}

*::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-mud_color;
}

*::-webkit-scrollbar-track {
  @apply !bg-transparent ;
}

/* Navbar links */
.navbar ul a  {
  
  @apply text-xl font-proxima-nova relative w-fit transition-a ;
  
}
.navbar ul a {
  @apply before:absolute before:w-full before:h-[2px] before:left-0 before:top-8 md:before:-bottom-4 before:bg-mud_color before:scale-0 before:transition-a ;
  
}

.navbar ul a.active,
.navbar ul a:hover {
  @apply text-mud_color before:scale-100;
}

.footer h1 {
  @apply transition-a;
}

.footer h1:hover {
  @apply ml-2 text-mud_color;
}
/* CSS for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.faq-item {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out forwards;
}

.expanded {
  max-height: 1000px; /* Adjust as needed */
}
